// 
// Convert a columns number from large to small grid.
//
@function from-large-to-small($n, $large, $small) {
  @if $n < ($large / $small + 1) {
    @if $small > 1 {
      @return ceil($small / 2);
    } @else {
      @return $small;
    }
  } @else {
    @return $small;
  }
  @return $small;
}

// 
// Convert a columns number from large to medium grid.
//
@function from-large-to-medium($n, $large, $medium) {
  $newval: ceil($n / $large * $medium);
  @if $newval > $medium {
    @return $medium;
  } @else {
    @return $newval;
  }
  @return $medium;
}
