@charset "utf-8"

@import compass

.site-title
  float: left
  display: block
  padding: em(4)
  line-height: $navigation-height

nav
  &.site-nav
    float: right

    .trigger
      line-height: $navigation-height
      display: none

      +media($small-up)
        position: absolute
        top: $navigation-height + em(4)
        right: em(5)
        background-color: $body-background-color

      +media($medium-up)
        display: block
      .page-link
        display: inline-block
        padding: em(4)

    .menu-icon
      line-height: $navigation-height
      color: $navigation-link-color
      float: right
      padding: em(4)
      padding-left: em(5)
      padding-right: em(5)
      display: block

      +media($medium-up)
        display: none
