body
  font-family: $body-font-family
  line-height: $body-line-height
  
h1, h2, h3, h4, h5, h6
  font-family: $header-font-family
  line-height: 1

h1
  font-size: $body-font-size * 2.25

h2
  font-size: $body-font-size * 2

h3
  font-size: $body-font-size * 1.75

h4
  font-size: $body-font-size * 1.5

h5
  font-size: $body-font-size * 1.25

h6
  font-size: $body-font-size

a
  +transition(color 0.1s linear)
  color: $link-color
  text-decoration: none
  &:hover
    color: $hover-link-color
  &:active, &:focus
    color: $hover-link-color

ul,
ol
  list-style-type: none
  margin: 0
  padding: 0

  &%ul-disc
    list-style-type: disc

  &%ol-num
    list-style-type: decimal

dl
  dt
    font-weight: bold

  dd
    font-weight: normal

.text-center
  text-align: center