.video
  margin: auto

  +media($large-screen-up)
    width: 50%

  .wrap-4-3,
  .wrap-16-9
    position: relative
    height: 0

    iframe
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%

  .wrap-16-9
    padding-bottom: 56.25%
  .wrap-4-3
    padding-bottom: 75%

